.flexible {
    display: flex;    
}

.flex-wrap {
    flex-wrap: wrap;
}

.justify-content-space-arround{
    justify-content: space-around;
}
.justify-content-space-evenly{
    justify-content: space-evenly;
}